<div class="field">
    <div class="ui icon input">
        <!-- <textarea style="resize: none" class="comment-body unauthorized"></textarea> -->
        {{{body}}}
        <div class="ui bottom attached blue button">Post Comment</div>
    </div>
</div>
{{{id}}}
{{{form-token}}}