<div class="field">
    <div class="ui icon input">
        {{{body}}}
        <input type="submit" class="ui bottom attached blue button" value="Post Comment">
    </div>
</div>
{{{id}}}
{{{form-token}}}